@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/**
 * @author Jean-François Duval 2067006@csfoy.ca
 *
 ******************* TABLE DES MATIERES***********************
 * Charte typographique*
 * Mise en page des cards*
 *Traitement des images*
 *Textes*
 *animation titre*
 *Sections*
 ****header****
 ****footer****
 */

/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);


/* Mise en page des cards
   ========================================================================== */

.cards {

    list-style: none;

}

@media (min-width: 601px) {
    .cards {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        -ms-grid-rows: auto 20px auto 20px auto;
        grid-template-areas:
                "a a b"
    "c d d" "e e f";

    }

    .card1 {
        grid-area: a;
        color: white;

    }

    .card2 {
        grid-area: b;
    }

    .card3 {
        grid-area: c;
    }

    .card4 {
        grid-area: d;
    }

    .card5 {
        grid-area: e;
        color: white;


    }

    .card6 {
        grid-area: f;
    }

}

@media (min-width: 601px) {
    .card1 {

        -ms-grid-row: 1;

        -ms-grid-column: 1;

        -ms-grid-column-span: 3;

    }

    .card2 {

        -ms-grid-row: 1;

        -ms-grid-column: 5;

    }

    .card3 {

        -ms-grid-row: 3;

        -ms-grid-column: 1;

    }

    .card4 {

        -ms-grid-row: 3;

        -ms-grid-column: 3;

        -ms-grid-column-span: 3;

    }

    .card5 {

        -ms-grid-row: 5;

        -ms-grid-column: 1;

        -ms-grid-column-span: 3;

    }

    .card6 {

        -ms-grid-row: 5;

        -ms-grid-column: 5;

    }

}

.cards .cards__div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

@media (min-width: 601px) {
    .cards .cards__div {
        padding: 3rem;

    }
}

.cards .cards__div:nth-child(1) {
    background-color: black;
    border: solid 0.1em gold
}

@media (min-width: 949px) {
    .cards .cards__div:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;


    }
}

@media (min-width: 1200px) {
    .img_card1 {
        max-width: 200px;
        margin: 5rem 2rem 0 9rem;

    }
}

.cards .cards__div:nth-child(1) {
    background-color: black;

}

.cards .cards__div:nth-child(2) {
    padding: 2rem 0 0 0;

}

@media (min-width: 601px) {
    .cards .cards__div:nth-child(2) {
        padding: 0;
    }
}

.cards .cards__div:nth-child(3) {
    padding: 2rem 0 0 0;
}

@media (min-width: 601px) {
    .cards .cards__div:nth-child(3) {
        padding: 0;
    }
}

.cards .cards__div:nth-child(4) {
    background-color: lightgoldenrodyellow;
    border: solid 0.1em gold

}

.cards .cards__div:nth-child(5) {
    background-color: brown;
    border: solid 0.1em gold;
    padding-top: 2rem;
    margin-top: 2rem;
}

@media (min-width: 601px) {
    .cards .cards__div:nth-child(5) {
        padding-top: 4rem;
        margin-bottom: 1rem;
    }
}

.cards .cards__div:nth-child(6) {
    padding: 2rem 0 2rem 0;
}

@media (min-width: 601px) {
    .cards .cards__div:nth-child(6) {
        padding: 0;
    }
}


@media (min-width: 600px) {
    .cards .cards__div {

    }
}

/***Traitement des images***/

img {
    min-width: 100%;


}

@media (max-width: 1200px) {
    .img_card1 {
        display: none;
    }
}


/***Textes***/

h1 {
    color: white;
    padding: 1.5rem 0 0 0;
}

h2,
p {
    padding: 0 0 1.5rem 0;
    color: white;
}

.p1 {

    -webkit-column-width: 250px;

    -moz-column-width: 250px;

    column-width: 250px;

}

@media (min-width: 949px) {
    .p1 {
        margin-top: 5rem;
    }
}

.p2 {
    color: black;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;

}

@media (min-width: 949px) {
    .p2 {
        margin-top: 3rem;
    }
}

.p3 {
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
}

@media (min-width: 949px) {
    .p3 {
        margin-top: 5rem;
    }
}

.eloge {
    color: black;
    padding: 1.5rem 0 0 0;
}

.quote {
    color: white;
    padding: 1.5rem 0 0 1rem;

}

@media (min-width: 949px) {
    .synopsis {
        /*float: left;*/
        position: absolute;
        margin-top: 16rem;
    }
}

@media (min-width: 1200px) {
    .synopsis {
        margin-top: 25rem;
    }
}

/*animation titre*/

.titre {
    color: black;
    padding: 3rem 2rem;
    background-color: gold;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    border-style: double;
    border-color: lightgoldenrodyellow;
    border-width: 0.5rem;

}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;

    }

    to {
        /*margin-right: 0;*/

    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;

    }

    to {
        /*margin-right: 0;*/

    }
}

/***Sections***/
header {
    font-size: 3rem;
    /*background-color: gold;*/
    opacity: 0.7;
}

/***body***/
.body {
    padding-right: 1rem;
    padding-left: 1rem;

}

/*** footer ***/
footer {
    background-color: gold;
    padding: 20px;
    opacity: 0.7;
    border-top: solid black 1rem;
}

.credits {
    text-align: center;
    color: black;

}