@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page des cards
 *Traitement des images*
 *Textes*
 *Sections*
 ****header****
 ****footer****


 */

/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);


/* Mise en page des cards
   ========================================================================== */

.cards {

    list-style: none;
}

@media (min-width: 601px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
                "a a b"
    "c d d" "e e f";
    }

    .card1 {
        grid-area: a;
        color:white;

    }

    .card2 {
        grid-area: b;
    }

    .card3 {
        grid-area: c;
    }

    .card4 {
        grid-area: d;
    }

    .card5 {
        grid-area: e;
        color:white;

    }

    .card6 {
        grid-area: f;
    }

}
.cards .cards__div{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.cards .cards__div:nth-child(1) {
    background-color: black;

}
.cards .cards__div:nth-child(2) {


}
.cards .cards__div:nth-child(3) {
    display: flex;

}
.cards .cards__div:nth-child(4) {
    background-color:lightgoldenrodyellow;

}
.cards .cards__div:nth-child(5) {
    background-color:brown;
    padding-top: 1.5rem;


}
.cards .cards__div:nth-child(6) {



}
@media (min-width: 600px) {
    .cards .cards__div {

    }
}

/***Traitement des images***/

img{
    min-width: 100%;

}

/***Textes***/

h1{
    color:white;
    padding: 1.5rem 0 0 0 ;
}
h2,
p{
    /*margin-left:30px;*/
    padding: 0 0 1.5rem 0;
    color:white;
}
.titre{
    color: black;
    padding: 3rem 2rem;
    background-color: gold;
}
.p2{
    color: black;
}
.eloge{
    color:black;
    padding: 1.5rem 0 0 0;
}
.quote{
    color:white;
    padding: 1.5rem 0 0 1rem;

}
/***Sections***/
header {
font-size: 3rem;
    /*background-color: gold;*/
    opacity: 0.8;
}
/***body***/
.body{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/*** footer ***/
footer{
    background-color: gold;
    padding: 20px;
    opacity: 0.8;
}
.credits {
text-align: center;
    color: black;
    }
